*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 16px 40px;
    background-color: #7EC8E3;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(126, 200, 227, 0.3);
    position: sticky;
}

.nav-header{
    font-size: 24px;
    color: #fff;
    display: flex;
    text-shadow: 0 2px 8px rgba(0,0,0,0.1);
    align-items: center;
}

.nav-link{
    display: flex;
    float: left;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.nav-item a{
    text-decoration: none;
    float: left;
    font-size: 15px;
    padding: 6px 16px;
    color: #fff;
}

.nav-item a:hover{
    background-color: rgba(255,255,255,0.3);
}

.user{
    width: 300px;
}

.user-avater{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.name1{
    font-size: 22px;
    font-weight: 700;
    color: #00838F;
    margin-bottom: 5px;
}

.name2{
    font-size: 13px;
    font-weight: 600;
    color: #00BCD4;
    margin-bottom: 15px;
}